:root,
body,
#root,
#root > * {
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  line-height: 1.5rem;
}

main {
  padding: 5vw;
  background-image: url(../assets/background.png);
}

button:hover {
  cursor: pointer;
}

p {
  font-family: "Akaya Telivigala", cursive;
}
