body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../imgs/background.png");
}

button:hover {
  cursor: pointer;
}

p {
  font-family: "Akaya Telivigala", cursive;
}

@media (max-width: 860px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 10px;
  }
}