.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  width: 50%;
  height: 100%;
  padding: 1rem;
  border-bottom: ridge #333 1px;
}

@media screen and (max-width: 700px) {
  .Card {
    width: 75%;
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-header > h1 {
  font-weight: 700;
}

#Blueberry h1 {
  color: blue;
}

#Strawberry h1 {
  color: red;
}

#Banana h1 {
  color: brown;
}

#Mixed h1 {
  color: purple;
}

.card-form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.card-form-label {
  display: flex;
  gap: 1vw;
}

.form-line {
  width: 100%;
  color: cornflowerblue;
}

.Card button {
  padding: 1vw;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: cornflowerblue;
  border: outset #333 1px;
  border-radius: 0.2rem;
}

.Card button:hover {
  box-shadow: 2px 1px #333;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  width: 5rem;
  text-align: center;
}
