.shop-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 3fr;
  place-items: center;
  gap: 1rem;
}

.sticky-cart {
  position: sticky;
  top: 0;
  grid-column: 1 / 3;
  width: 100%;
  text-align: center;
  background-image: url("../assets/background.png");
  z-index: 1;
}

.sticky-cart > * {
  margin: 0.5rem;
}

.cart-line {
  color: cornflowerblue;
}

.checkout-button {
  padding: 1vw;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: cornflowerblue;
  border: outset #333 1px;
  border-radius: 0.2rem;
}

.checkout-button:hover {
  box-shadow: 2px 1px #333;
}

@media screen and (max-width: 700px) {
  .shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
